</div>
<div class="footer">
  <div class="w-container">
    <div class="w-row">
      <div class="footer-column w-col w-col-4">
        <h4 class="footer-title">Entreprise</h4>
        <p class="all-paragraph-white">MR TRIQUENEAUX CALVIN MATTHIAS</p>
      </div>
      <div class="footer-column w-col w-col-4">
        <h4 class="footer-title">Adresse</h4>
        <ul class="footer-list">
          <li class="footer-list-item">
            <p class="all-paragraph-white">12 rue de fréconrupt</p>
          </li>
          <li class="footer-list-item">
            <p class="all-paragraph-white">67100 Strasbourg</p>
          </li>
          <li class="footer-list-item">
            <p class="all-paragraph-white">France</p>
          </li>
        </ul>
      </div>
      <div class="footer-column w-col w-col-4">
        <h4 class="footer-title">Contact</h4>
        <ul class="footer-list">
          <li class="footer-list-item">
            <p class="all-paragraph-white">Téléphone : 07.60.92.86.48</p>
          </li>
          <li class="footer-list-item">
            <p class="all-paragraph-white">Mail : calvin8313@hotmail.fr</p>
          </li>
          <li class="footer-list-item">
            <p class="all-paragraph-white">Linkedin : Triqueneaux Calvin</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-footer-block">
    <div class="w-container">
      <div class="w-row">
        <div class="footer-left w-col w-col-4">
          <h4 class="bottom-footer-title">T.C</h4>
        </div>
        <div class="footer-mid w-col w-col-4">
          <h4 class="bottom-footer-title _2">© 2018 T.C</h4>
          <h4 class="bottom-footer-title _3">12 rue de Fréconrupt; 67100 Strasbourg</h4>
        </div>
        <div class="footer-irght w-col w-col-4"><a class="some-button facebook w-inline-block"></a><a href="#" class="some-button insta w-inline-block"></a><a href="#" class="some-button twitter w-inline-block"></a><a href="https://www.linkedin.com/in/calvin-triqueneaux-17a84314a/" class="some-button in w-inline-block"></a></div>
      </div>
    </div>
  </div>
</div>