<div data-animation="over-left" class="navbar w-nav" data-easing2="ease-out" data-easing="ease-out" data-collapse="all" data-no-scroll="1" data-duration="300" data-doc-height="1">
	<nav role="navigation" class="nav-menu-container w-nav-menu"><a href="#" class="close-menu">← Retour</a><a href="accueil.html" class="nav-link w-nav-link w--current" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/'" >accueil</a><a href="contact" class="nav-link w-nav-link w--current" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/contact'">Contact</a><a href="bio.html" class="nav-link w-nav-link w--current" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/bio'">a propos</a></nav>
	<div class="fake-menu-bar"></div>
	<div class="menu-button w-nav-button">
		<div class="menu-icon w-icon-nav-menu"></div>
	</div>
</div>