<div class="cta-stripe">
 	<div class="w-container">
 		<h2 class="header-title">Vous avez un projet en tête?</h2>
 		<h2 class="header-title _2">Discutons de vos idées, je suis disponible pour travailler !</h2><a href="contact.html" class="button" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/contact'">Contactez moi</a>
 	</div>
</div>